body {
  background-color: #960018;
  color: #eee;  
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

a {
  color: #eee;
}

a:hover,
a:focus {
  color: #fff;
  text-decoration: none;
}

/* HEADER --------------------------------------------------------------------------------------- */

.navbar-inner .center{
	margin: 0 10%;
}

.navbar .nav {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  text-transform: uppercase;
  margin: 0 10px 0 30px;
}


.navbar .nav > li > a {
  padding: 8px 16px 12px;
  color: #999;
}

.navbar .btn-navbar {
  margin-top: 10px;
}

.nav li a.logo {
  padding: 10px 20px 0;
  font-family: 'Tangerine', cursive;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: none;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.navbar-inner a.visible-phone {
  float: left;
  font-family: 'Tangerine', cursive;
  font-size: 1.8rem;
  font-weight: 700;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* CONTENT ------------------------------------------------------------------ */

#content {

}

section{
  margin-top: 30px;
}

.title {
  margin-bottom: 40px;
}

#content h1,
.subtitle p {
  font-family: 'Tangerine', cursive;
  text-align: center;
  color: #fff;
}

#content h1 {
  font-weight: 700;
  font-size: 8rem;
  line-height: 0.8;
  margin-bottom: 60px;
  margin-left: -8px; /* hack the lettrine 'going right' effect */
}

.subtitle p {
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 0.9;
}

#content h2 {
  border-top: 1px solid #eee;
  font-size: 1.4rem;
  color: #eee;
  margin: 0 0 20px 0;
  text-align: center;
  text-transform: uppercase;
}

#content h2 span {
	background-color: #960018;
  padding: 0 20px;
  position: relative;
  top: -24px;
}

section ul {
	list-style-type: none;
	line-height: 1.6;
  margin: 0 auto;
}

.big-icon {
	height: 140px;
	width: 140px;
	margin: 0 auto 40px;
	background-color: #eee;
}

/* SECTION ARDOISE ---------------------------------------------------------- */

#ardoise {
  width: 96%;
  height: 700px;
  margin: 30px auto 0;
  border: 6px solid white;
}

.carte {
  margin-bottom: 36px;
  padding: 20px;
}

.carte h3 {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.6;
  text-align: center;
}

.carte ul {
  padding: 14px 0 14px;
  text-align: center;
  font-size: 1.2rem;
}

.carte ul.wine {
  text-align:left;
}

.carte li {
  line-height: 1.2;
  margin-bottom: 10px;
}

.pt-page-2 li {
  margin-bottom: 4px;
}

.carte li span {
  float: right;
}

#dl-menu button {
  width: 200px;
  height: 60px;
  margin: 0 20px 0;
}

/* Page Transition -------------------------- */

.pt-bloc {
  position: relative;
}

.pt-perspective {
  position: relative;
  height: 140px;
  -webkit-perspective: 1200px;
     -moz-perspective: 1200px;
          perspective: 1200px;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.pt-page {
  position: absolute;
  top: 0px; 
  width: 100%;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.pt-page-current, .no-js .pt-page {
  visibility: visible;
}

.pt-page-1 {
  margin-top: 60px;
}

.pt-page-2 {
  margin-top: 30px;
}

.pt-trig-top,
.pt-trig-bottom {
  position: absolute;
  z-index: 999999;
  left: 50%;
  background-color: #fff;
  height: 40px;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

.pt-trig-top {
  top: 0px;
  width: 300px;
}

.pt-trig-bottom {
  bottom: -560px;
  width: 300px;
}

.pt-touch-button {
  padding-top: 4px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #222;
  text-align: center;
}

/* EVENTS --------------------------------------------------------------------------------------- */

#events {
	margin-top: 120px;
	background-color: #960018;
}

#concerts h3 {
	margin-top: 0px;
}

/* CONTACTS ------------------------------------------------------------------------------------- */

#contact {
	margin-top: 60px;
	margin-bottom: 40px;
}

#contact ul {
  font-size: 1.4rem;
}

.map{
  width: 100%;
  color: #222;
}

.gmap-big{
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

.map h4 {
  font-size: 1rem;
}

.map p {
  font-size: 0.8rem;
}

/* FOOTER --------------------------------------------------------------------------------------- */

footer {
  background-color: #000;
  color: #eee;
  margin-right: -20px;
  margin-left: -20px;
  padding-bottom: 20px;
}

#signature {
  padding-top: 20px;
  text-align: center;
  font-size: 1.2rem;
}

#signature p {
  margin: 0;
}

#signature a {
  color: #eee;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

/* Slider -------------------------------------------------- */

/* Prevents slides from flashing */
#slides-big,
#slides-expo {
  display:none;
}

#slides-big .slidesjs-navigation,
#slides-expo .slidesjs-navigation{
  margin-top:8px;
}

#slides-big .slidesjs-previous,
#slides-expo .slidesjs-previous {
  margin-right: 5px;
  float: left;
}

#slides-big .slidesjs-next,
#slides-expo .slidesjs-next {
  margin-right: 5px;
  float: left;
}

.slidesjs-pagination {
  margin: 10px 0 0;
  float: right;
  list-style: none;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url(/img/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
  background-position: 0 -26px
}

#slides-big a:link,
#slides-big a:visited {
  color: #eee
}

#slides-big a:hover,
#slides-big a:active {
  color: #9e2020
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 480px) {

  #slides-big {
  margin-bottom: 100px;
  }

  #content {
    padding-top: 0;
  }

}

@media (min-width: 767px) {


}

@media (min-width: 979px) {

  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
  .navbar-inner {
    border-radius: 0;
  }

  #content {
      padding-top: 80px;
  }

  #slides-big {
    margin-bottom: 100px;
  }

  #slides-expo {
    margin-bottom: 16px;
  }

}   