/* HEADER --------------------------------------------------------------------------------------- */

.navbar {
  overflow: hidden
}

.navbar-inner .center{
	margin: auto;
	width: 800px;
}

/* Downsize the brand/project name a bit */
.navbar .brand {
  padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
  font: 400 24px/24px 'Tangerine', cursive;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.navbar .nav {
	font: 400 16px/16px 'Handlee', cursive;
  text-transform: uppercase;
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top: 10px;
}

/* CONTENT -------------------------------------------------------------------------------------- */

#content {

}

#content .text {
  margin: 0 auto;
}

.title {
  margin-bottom: 32px;
}

#content h1 {
  font: 700 7rem 'Tangerine', cursive;
  color: #fff;
  line-height: 0.9;
  text-align: center;
}

#content h1 span {
  font-size: 4rem;
}

#content h2 {
  border-top: 1px solid #eee;
  color: #eee;
  font: 400 18px/18px 'Handlee', cursive;
  margin: 0 0 20px 0;
  text-align: center;
  text-transform: uppercase;
}

#content h2 span {
	background-color: #960018;
  padding: 0 20px;
  position: relative;
  top: -8px;
}

#content {
  color: #fff;
  font: 400 22px 'Satisfy', cursive;
  line-height: 1.6;
  margin: 0;
}

section{
	margin-top: 48px;
}

section ul {
	list-style-type: none;
	line-height: 1.6;
  margin: 0 auto;
}

section ul li{
	margin-bottom: 12px;
}

.big-icon {
	height: 140px;
	width: 140px;
	margin: 0 auto 40px;
	background-color: white;
}

/* CARTES --------------------------------------------------------------------------------------- */

#carte2{
  width: 80%;
  height: 600px;
  margin: auto;
  border: 6px solid white;
}

.pt-triggers {
  position: absolute;
  width: 300px;
  z-index: 999999;
  top: 1000px;
  left: 50%;
  margin-top: 130px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.pt-perspective {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.pt-page {
  position: absolute;
  top: 0px; 
  width: 100%;
  height: 600px;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.pt-page-current, .no-js .pt-page {
  visibility: visible;
}

.pt-page-1 {
  background: #444;
}

.pt-page-2 {
  background: #444;
}

#carte {
	margin-top: 36px;
}

.carte-menu {
  margin-bottom: 36px;
}

.food-title {
  font: 400 24px/24px 'Tangerine', cursive;
  margin-top: 0;
  font-weight: normal;
  text-align: center;
}

ul.food {
  text-align: center;

}

#carte li span{
	float: right;
}

/* EVENTS --------------------------------------------------------------------------------------- */

#events {
	margin-top: 120px;
	background-color: #960018;
}

#concerts h3 {
	margin-top: 0px;
}

/* CONTACTS ------------------------------------------------------------------------------------- */

#contact {
	margin-top: 60px;
	margin-bottom: 40px;
}

.map{
  width: 100%;
  color: #222;
}

.gmap-big{
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

.map h4 {
  font-size: 1rem;
}

.map p {
  font-size: 0.8rem;
}

/* FOOTER --------------------------------------------------------------------------------------- */

footer{
  background-color: #000;
  color: #eee;
  font-family: 'Handlee', cursive;
  font-size: 1em;
  margin-right: -20px;
  margin-left: -20px;
  padding-bottom: 20px;
}

#signature{
  padding-top: 20px;
  text-align: center;
}

#signature p{
  margin: 0;
}

#signature a {
  color: #eee;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

/* Slider -------------------------------------------------- */

/* Prevents slides from flashing */
#slides-big,
#slides-expo {
  display:none;
}

#slides-big .slidesjs-navigation,
#slides-expo .slidesjs-navigation{
  margin-top:8px;
}

#slides-big .slidesjs-previous,
#slides-expo .slidesjs-previous {
  margin-right: 5px;
  float: left;
}

#slides-big .slidesjs-next,
#slides-expo .slidesjs-next {
  margin-right: 5px;
  float: left;
}

.slidesjs-pagination {
  margin: 10px 0 0;
  float: right;
  list-style: none;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url(/img/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
  background-position: 0 -26px
}

#slides-big a:link,
#slides-big a:visited {
  color: #eee
}

#slides-big a:hover,
#slides-big a:active {
  color: #9e2020
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 480px) {

  #slides-big {
  margin-bottom: 100px;
  }

  #content {
    padding-top: 0;
  }

}

@media (min-width: 767px) {


}

@media (min-width: 979px) {

  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
  .navbar-inner {
    border-radius: 0;
  }

  #content{
      padding-top: 80px;
  }

  #slides-big {
    margin-bottom: 100px;
  }

  #slides-expo {
    margin-bottom: 16px;
  }

}   